<form name="update_many" method="POST" action="/update_many"> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Goal</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody id="goals_table">
      <% goals.forEach((goal) => {%>
      <tr>
        <td><input type="checkbox" name="goal_id" value="<%= goal.goal_id %>"></td>
        <td><%= goal.time_submitted %></td>
        <td><%= goal.goal %></td>
        <td><%= goal.category %></td>
        <td><%= goal.tags %></td>
        <td><%= goal.due_date %></td>
        <td>
        <form method="POST" action="/complete/<%= goal.goal_id %>">
          <button>
            ✅
          </button>
        </form>
        </td>
        <td>
        <form method="POST" action="/delete/<%= goal.goal_id %>">
          <button>
            DELETE
          </button>
        </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <button type="submit">UPDATE MANY</button>
  <div class="form-label-group">
    <input type="text" class="form-control" name="dueDate" placeholder="Due Date" id="datepicker"/>
  </div>
</form>

