<form name="update_many" method="POST" action="/update_many">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Goal</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody id="goals_table">
      <% goals.forEach((goal) => {%>
      <tr>
        <td><input type="checkbox" name="goal_id" value="<%= goal.goal_id %>"></td>
        <td><%= goal.time_submitted %></td>
        <td><%= goal.goal %></td>
        <td><%= goal.category %></td>
        <td><%= goal.tags %></td>
        <td><%= goal.due_date %></td>
        <td>
          <input type="button" onClick="complete_goal(<%= goal.goal_id %>)" value="âœ…">
        </td>
        <td>
          <input type="button" onClick="delete_goal(<%= goal.goal_id %>)" value="ðŸ—‘ï¸">
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <button type="submit">UPDATE MANY</button>
  <div class="form-label-group">
    <input type="text" class="form-control" name="dueDate" placeholder="Due Date" id="datepicker"/>
  </div>
</form>

<% goals.forEach((goal) => {%>
    <form id="complete_form_<%= goal.goal_id %>" method="POST" action="/complete/<%= goal.goal_id %>"></form>
    <form id="delete_form_<%= goal.goal_id %>" method="POST" action="/delete/<%= goal.goal_id %>"></form>
<% }) %>

<script>
  const complete_goal = (id) => document.getElementById(`complete_form_${id}`).submit()
  const delete_goal = (id) => document.getElementById(`delete_form_${id}`).submit()
</script>
